body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.btn{
    height: 50px;
    width: 50px;
    margin: 15px;
    font-size: 40px;
}

button.number{
    border: 2px solid greenyellow;
    border-radius: 10px;
}

button.number:hover{
    background-color: palegreen;
}

button.operator{
    border: 2px solid steelblue;
    border-radius: 10px;
}

button.operator:hover{
    background-color: paleturquoise;
}

button.decimal{
    border: 2px solid gold;
    border-radius: 10px;
}

button.decimal:hover{
    background-color: palegoldenrod;
}

button.equal{
    border: 2px solid pink;
    border-radius: 10px;
}

button.equal:hover{
    background-color: plum;
}

#clear-btn{
    border: 2px solid violet;
    border-radius: 10px;
}

#clear-btn:hover{
    background-color: palevioletred;
}

.first-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#screen{
    width: 240px;
    border: 3px solid salmon;
    height: 75px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.previous{
    font-size: 20px;
}

.current{
    font-size: 30px;
}



